.pictures {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px 15px;

  img {
    width: 80%;
    height: 400px;
  }
}

.contact {
  margin: 0.5rem auto;
  width: 100%;
}

.secHead {
  background-image: linear-gradient(
    to left top,
    rgba(18, 145, 164, 0.2),
    rgba(18, 145, 164, 0.7)
  );
  padding: 1.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.secBody {
  margin: 15px auto;
  padding: 15px;
  h4 {
    padding: 15px 0;
    font-size: 1.2rem;
  }
  a {
    color: black;
  }
}

@media only screen and (min-width: 600px) {
  .pictures {
    grid-template-columns: 1fr 1fr;
  }
  .secBody {
    width: 50%;
  }

  
}
